#contenedor {
    margin-left: 5%;
    width: 90%;
    height:"100%";
    align-items: center;

  }
#title {
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    text-shadow: 5px 5px 10px rgba(85, 107, 47, 0.966);
    margin-bottom: 20px;
}
#heading {
    
    background: rgba(85, 107, 47, 0.747);
    border-radius: 10px ;
  }

#heading :hover {
    background: rgba(85, 107, 47);
    border-radius: 10px ;
}